
<div id="designPopup">
   <div id="designPopupCloseButton">X</div>
   <div id="contenido">

		
		
		<div class="">
			<span>Color fondo:</span>
			<input id="designInput-background-color" class="jscolor {hash:true}" type="text" name="background-color">
		</div>

		<div class="">
			<span>Altura:</span>
			<input id="designInput-height" type="text" name="height">
		</div>

   		<div id="designPopupSaveButton" class="DesignPopupSaveButton">GUARDAR</div>
   </div>
</div>


<div class="build-screen-container">
	<div class="build-screen-elem-options-container">
		<div class="build-screen-section-title">Constructor</div>
		<div id="build-screen-elem-options" class="build-screen-elem-options">
			<%= @mobile_app_screen.editor_html.html_safe if @mobile_app_screen.editor_html %>
		</div>
	</div>

	<center><div class="screenEditionContainer">
  	  <div class="screenEditionHeadContent"><div><%= Time.zone.now.to_s(:time) %></div></div>
  	  <div id="build-screen-area" class="build-screen-area">
	    <%= @mobile_app_screen.raw_html.html_safe if @mobile_app_screen.raw_html %>
	  </div>
	<div></center>

	<div class="build-screen-buttons-options-container">
		<div class="build-screen-section-title">Herramientas</div>
		<div class="build-screen-buttons-container">
			<div id="div-button" class="build-screen-button-div tooltipCustom" onclick="addPanelElement()">
				<span style="margin: auto 0px;line-height:15px;">Contenedor</span>
				<span class="tooltiptext">Agregar</span>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	function deleteElem(elemId, elemEditorId){
		$("#"+elemId).remove();
		$("#"+elemEditorId).remove();
	}

	function addPanelElement(){
		biggerDivIndex = -1;
		//Busco el idx del div mayor asi me aseguro de no repetir ids
		$('#build-screen-area .builder-elem-div').each(function(){
			elemId = $(this).attr('id');
			elemNumber = parseInt(elemId.replace("builder-div-",""));
			if(elemNumber > biggerDivIndex){
				biggerDivIndex = elemNumber;
			}
		});
		biggerDivIndex++;

		elementId = "builder-div-" + biggerDivIndex;
		elem = '<div id="' + elementId + '" class="builder-elem-div" style="width:100%; height:10%; background-color: #0000DD; border:1px solid black;"></div>';
		$("#build-screen-area").append(elem);

		elementEditorId = "builder-editor-div-" + biggerDivIndex;
		elemEditor = '<div id="' + elementEditorId + '" class="builder-editor-elem-div" data-styles="">Contenedor'
			elemEditor += '<div class="deleteButton" onclick="deleteElem(\''+elementId+'\', \''+elementEditorId+'\')">X</div>';
			elemEditor += '<div class="deleteButton" onclick="showDesignPopup(\''+elementId+'\', \''+elementEditorId+'\')">EDITAR</div>';
		elemEditor += '</div>';
		$("#build-screen-elem-options").append(elemEditor);

		//podria tener en el editor, un elemento que tenga los atributos que se van seteando, width:100%;color:red;...etc y parseo por el punto y coma. El atributo que no esta, tiene que tener el valor default (nunca se seteo)
	}

	function showDesignPopup(elemId, elemEditorId) {
   		$("#designPopupSaveButton").on("click", function(){saveDivSettings(elemId, elemEditorId);});

   		stylesString = $("#"+elemEditorId).attr("data-styles");

   		stylesArray = stylesString.split(";");

		stylesArray.forEach(function(item){
			if(item != ""){
				particularStyleArray = item.split(":");
				$("#designInput-"+particularStyleArray[0]).val(particularStyleArray[1]);
			}
		});   		

		/*stylePosition = styles.indexOf("background-color");
		if(stylePosition > -1){
			stylePosition
		}*/


   		$("#designPopup").show();
		//Desde aca, antes de hacer el show puedo setear opciones dependiendo el elemento

	} 

	$("#designPopupCloseButton").click(function (){
	  	closeDesignerPopup();
	});

	$(document).ready(function (){
		//Esconder el popup
   		$("#designPopup").hide();

   	});

	function closeDesignerPopup(){
		$("#designPopup").hide();
	  	$("#designPopupSaveButton").off("click");
	  	$("#designPopup input").each(function(){
			$(this).val("");
		});
	}

   	function saveDivSettings(elemId, elemEditorId) {
   		//("#designInput-background-color").val();

   		//Valido todo y si todo esta bien recien ahi empiezo a setear los valores
   		allFieldsValid = true;
   		$("#designPopup input").each(function(){
   			styleAttribute = $(this).attr('name');

   			if(!validateFieldValue(styleAttribute, $(this).val())){
   				alert($(this).val());
   				allFieldsValid = false;
   				//agregar mensaje de error en algun lado
   			}
   		});

   		if(!allFieldsValid){
   			alert("revisate los campos pibe");
   			return;
   		}

   		//$("#"+elemEditorId).attr("data-styles", "");
   		$("#designPopup input").each(function(){
   			styleAttribute = $(this).attr('name');

   			$("#"+elemId).css(styleAttribute, $(this).val());

   			editorTag = $("#"+elemEditorId).attr("data-styles");

   			editorTag += styleAttribute + ":" + $(this).val() + ";";
   			$("#"+elemEditorId).attr("data-styles", editorTag);
   		});
		//Desde aca, antes de hacer el show puedo setear opciones dependiendo el elemento

		closeDesignerPopup();

	}

	function validateFieldValue(styleAttribute, value){
		//La variable con las regex de validacion esta en creator_validation.js
		var re = new RegExp(elementsValidations[styleAttribute]);
		if(re.test(value)){
			return true;
		}
		return false;
	}

</script>