/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */


html, body {
    height: 100%;
    background-image: url("background.jpg");
	background-size: 100% 100%;
}

/* Genericos */

h2{
	margin-top: 15px;
	margin-bottom: 15px;
}

hr{
	margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000000;
}

/* Genericos de bootstrap*/

.page-header{
	margin: 20px 0px 20px;
}

.btn-primary, .btn-primary:visited{
	color: #FFFFFF;
}
.btn-danger, .btn-danger:visited{
	color: #FFFFFF;
}
.btn-default{
	background-color: #FFFFFF;
}
.btn-build{
	background-color: #00DD00;
}
.btn-build:hover{
	background-color: #00BB00;
}



.alert{
	position: absolute;
    top: 50px;
    left: 2.5%;
    width: 95%;
    z-index: 1002;
}


/* Header */
.navbarCustom{
	margin-bottom: 0px;
	background-color: #E2E2E2;
}

.navbarCustom .container{
	margin-left: 0px;
}

.navbarCustom .userMenu{
	position: absolute;
	right: 5px;
}

/* Content */

.mainContainerCustom{
	margin: 0px;
    width: 100%;
    max-height: auto 100%;
}


/* Logged Content */

.internalRow{
	width: 100%;
	display: inline-flex;
}
.internalContent{
	margin: 20px auto;
	padding: 10px;
    width: 90%;
    background-color: rgba(226,226,226,0.85);

}


/**************************/
/* Tooltip container */
.tooltipCustom {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipCustom .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltipCustom .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipCustom:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/**************************/

/* Mobile apps (TODO: move to proper css file) */

.appPreviewContainer{
	width: 350px;
    height: 639px;
    background-image: url("smartphone.png");
    background-size: 100% 100%;
    padding: 59px 18px 53px 18px;
    text-align: center;
    display: inline-block;
}
.appPreviewHeadContent{
    height: 22px;
    width: 307px;
    position: relative;
}
.appPreviewHeadContent >div{
	position: absolute;
    right: 0px;
    background-color: #494949;
    width: 18%;
    line-height: 22px;
    font-size: 13px;
    color: white;
}




#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 200px;
  left: 33%;
  z-index: 100;
}


/*.table-striped > tbody > tr:nth-of-type(even) {
    color: #FFFFFF;
}

.table-striped > thead {
    color: #F2F2F2;
}*/
