/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */


html, body {
    height: 100%;
    background-image: url("prueba1.jpg");
	background-size: 100% 100%;
}

/* Genericos */

h2{
	margin-top: 15px;
	margin-bottom: 15px;
}


/* Header */
.navbarCustom{
	margin-bottom: 0px;
	background-color: #E2E2E2;
}

.navbarCustom .container{
	margin-left: 0px;
}

/* Content */

.mainContainerCustom{
	margin: 0px;
    width: 100%;
    max-height: auto 100%;
}


/* Login */

.mainLoginContainer{
	width:100%;
	height: 500px;
	text-align: center;
	padding-top: 50px;
}

.cellPhoneContainer{
	width: 240px;
	height: 90%;
	background-image: url("smartphone.png");
	background-size: 100% 100%;
	padding: 37px 18px 52px 18px;
	text-align: center;
    display: inline-block;
}

.loginHeadContent{
    height: 15px;
    width: 100%;
    position: relative;
}
.loginHeadContent >div{
	position: absolute;
    right: 0px;
    background-color: #494949;
    width: 18%;
    line-height: 15px;
    font-size: 10px;
    color: white;
}


.loginContent{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-color: #E2E2E2;
}

.loginContent .textInput{
	width: 90%;
	padding: 3px 5px;
}

.rememberContainer{
	text-align: left;
	width: 90%;
	display: inline-block;
}
.rememberContainer label{
	font-weight: normal;
}

.loginContent .completeButton{
	width: 90%;
	background-color: #325A9A;
	color: white;
	padding: 6px 0px;
    font-weight: bold;
    border: 1px solid black;
    border-style: outset;
}

.optionContainer{
	width: 90%;
    text-align: left;
    display: inline-block;
    margin-top: 5px;
}
.optionContainer a:hover{
	background-color: transparent;
	text-decoration: underline;
	color: #000;
}
.optionContainer a:visited{
	color: #000;
}