/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */


html, body {
    height: 100%;
    background-image: url("background.jpg");
	background-size: 100% 100%;
}

/* Genericos */

h2{
	margin-top: 15px;
	margin-bottom: 15px;
}

hr{
	margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000000;
}


/* Header */
.navbarCustom{
	margin-bottom: 0px;
	background-color: #E2E2E2;
}

.navbarCustom .container{
	margin-left: 0px;
}

/* Content */

.mainContainerCustom{
	margin: 0px;
    width: 100%;
    max-height: auto 100%;
}

