/* Stylesheet for mobile app screen views */

/* Creator */

.build-screen-section-title{
	margin: 10px 0;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

.build-screen-container{
	width:100%;
	height:100%;
	display:inline-flex;
	position: relative;
}

.build-screen-elem-options-container{
	width:25%;
}
.build-screen-elem-options{
	height:390px;
	background-color: #8C8C8C;
  overflow: auto;
}

.build-screen-area{
	width:257px;
	height:391px;
	margin-left: 3px;
	background-color: #AAAAAA;
  position: relative;
  overflow-y: auto; 
}

.build-screen-buttons-options-container{
	width:20%;
	position: absolute;
	right: 0px;
}
.build-screen-buttons-container{
	height: 300px;
	background-color: #8C8C8C;
}
.build-screen-button-div{
	width:90%;
	height:40px;
	background-color: #EEEEEE;
	padding-left:5px;
	cursor: pointer;
  text-align: center;
  border: solid 1px #000000;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 10px;
  font-weight: bold;
}



.screenEditionContainer{
	width: 300px;
    height: 500px;
    background-image: url("smartphone.png");
    background-size: 100% 100%;
    padding: 46px 18px 53px 18px;
    text-align: center;
    display: inline-block;
    margin-left: 60%;
}
.screenEditionHeadContent{
    height: 18px;
    width: 260px;
    position: relative;
}
.screenEditionHeadContent >div{
	position: absolute;
  right: 0px;
  background-color: #494949;
  width: 18%;
  line-height: 18px;
  font-size: 13px;
  color: white;
}


.builder-editor-elem-div{
  width:100%;
  background-color: #E2E2E2;
  border:1px solid black;
  text-align:left;
  display:inline-block;
  padding: 2px 2px 2px 5px;
}
.builder-editor-elem-div .deleteButton{
  width:12%;
  cursor:pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  display:inline-block;
  background-image: url(icon_delete.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 27px;
  position: absolute;
  right:0px;
}
.builder-editor-elem-div .editButton{
  width:12%;
  cursor:pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  display:inline-block;
  background-image: url(icon_edit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 27px;
  position: absolute;
  right:40px;
}
.builder-editor-elem-div .addElemButton{
  width:12%;
  cursor:pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  display:inline-block;
  background-image: url(icon_add.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 27px;
  position: absolute;
  right:80px;
}

.builder-editor-elem-div-properties{
  width:100%;
  background-color: #E2E2E2;
  display:inline-block;
  position: relative;
  min-height: 30px;
}

.builder-editor-elem-div-properties >span{
  line-height: 30px;
}

/* POPUP para modificacion de estilos de los componentes */
#designPopup, #elemsCreationPopup{
  z-index:2;
  position:absolute;
  border: 1px solid #333333;
  text-align:center;
  background:#F6F6F6;
  width: 50%;
  height: 60%;
  margin-left: 25%;
}

#designPopup #contenido{
  height: 100%;
}
#designPopup .modal-header{
  height: 15%;
}
#designPopup .form-horizontal{
  height: 85%;
  width: 100%;
  overflow: auto;
}

.DesignPopupSaveButton{
  cursor: pointer;
}

#designPopupErrorMessage strong{
  display: block;
  text-align: left;
}


.form-control-div input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
#designPopup .form-group {
    margin-top: 15px;
}

#designPopup .alert{
  top: 0px;
  position: relative;
}


/*POPUP de agregado de elementos*/
#elemsCreationPopup .build-screen-buttons-options-container{
  position: relative;
}

#elemsCreationPopup .build-screen-buttons-container{
  height: 150px;
}

#elemsCreationPopup .build-screen-section-title{
  color: #000000;
}

/*Particular para la vista de la screen*/
#screenPreview .appPreviewContainer {
    width: 275px;
    height: 450px;
    background-image: url(smartphone.png);
    background-size: 100% 100%;
    padding: 41px 19px 34px 13px;
    text-align: center;
    display: inline-block;
    background-color: transparent;
}

#screenPreview .appPreviewHeadContent >div{
  line-height: 16px;
  font-size: 11px;
}

#screenPreview .appPreviewHeadContent{
  height: 16px;
  width: 240px;
}


