/* Stylesheet for mobile app screen views */

/* Creator */

.build-screen-section-title{
	margin: 10px 0;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.build-screen-container{
	width:100%;
	height:100%;
	display:inline-flex;
	position: relative;
}

.build-screen-elem-options-container{
	width:25%;
}
.build-screen-elem-options{
	height:390px;
	background-color: #CCCCCC;
}

.build-screen-area{
	width:257px;
	height:391px;
	margin-left: 3px;
	background-color: #AAAAAA;
  position: relative;
  overflow-y: auto; 
}

.build-screen-buttons-options-container{
	width:25%;
	position: absolute;
	right: 0px;
}
.build-screen-buttons-container{
	height: 300px;
	background-color: #666666;
}
.build-screen-button-div{
	width:100%;
	height:50px;
	background-color: #EEEEEE;
	padding-left:5px;
	cursor: pointer;
  text-align: left;
  border-bottom: solid 1px #000000;
}



.screenEditionContainer{
	width: 300px;
    height: 500px;
    background-image: url("smartphone.png");
    background-size: 100% 100%;
    padding: 46px 18px 53px 18px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
.screenEditionHeadContent{
    height: 18px;
    width: 260px;
    position: relative;
}
.screenEditionHeadContent >div{
	position: absolute;
  right: 0px;
  background-color: #494949;
  width: 18%;
  line-height: 18px;
  font-size: 13px;
  color: white;
}


.builder-editor-elem-div{
  width:100%;
  background-color: #E2E2E2;
  border:1px solid black;
  text-align:left;
  display:inline-block;
  padding: 2px 2px 2px 5px;
}
.builder-editor-elem-div .deleteButton{
  width:20%;
  cursor:pointer;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  display:inline-block;
}

.builder-editor-elem-div-properties{
  width:100%;
  background-color: #E2E2E2;
  display:inline-block;
}

/* POPUP para modificacion de estilos de los componentes */
#designPopup, #elemsCreationPopup{
  z-index:2;
  position:absolute;
  border: 1px solid #333333;
  text-align:center;
  background:#F6F6F6;
  width: 50%;
  height: 70%;
  margin: 0 auto;
}

.DesignPopupSaveButton{
  cursor: pointer;
}

#designPopupErrorMessage strong{
  display: block;
  text-align: left;
}


.form-control-div input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
#designPopup .form-group {
    margin-top: 15px;
}

#designPopup .alert{
  top: 0px;
  position: relative;
}


/*POPUP de agregado de elementos*/
#elemsCreationPopup .build-screen-buttons-options-container{
  position: relative;
}

#elemsCreationPopup .build-screen-buttons-container{
  height: 150px;
}

#elemsCreationPopup .build-screen-section-title{
  color: #000000;
}
