/* Stylesheet for mobile app screen views */

/* Creator */

.build-screen-section-title{
	margin: 10px 0;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.build-screen-container{
	width:100%;
	height:100%;
	display:inline-flex;
	position: relative;
}

.build-screen-elem-options-container{
	width:25%;
}
.build-screen-elem-options{
	height:390px;
	background-color: #CCCCCC;
}

.build-screen-area{
	width:257px;
	height:390px;
	margin-left: 3px;
	background-color: #AAAAAA;
}

.build-screen-buttons-options-container{
	width:25%;
	position: absolute;
	right: 0px;
}
.build-screen-buttons-container{
	height: 300px;
	background-color: #666666;
}
.build-screen-button-div{
	width:100%;
	height:50px;
	background-color: #EEEEEE;
	padding-left:5px;
	cursor: pointer;
}



.screenEditionContainer{
	width: 300px;
    height: 500px;
    background-image: url("smartphone.png");
    background-size: 100% 100%;
    padding: 46px 18px 53px 18px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
.screenEditionHeadContent{
    height: 18px;
    width: 260px;
    position: relative;
}
.screenEditionHeadContent >div{
	position: absolute;
  right: 0px;
  background-color: #494949;
  width: 18%;
  line-height: 18px;
  font-size: 13px;
  color: white;
}


.builder-editor-elem-div{
  width:100%;
  height:10%;
  background-color: #E2E2E2;
  border:1px solid black;
  text-align:right;
  display:inline-flex;
}
.builder-editor-elem-div .deleteButton{
  width:20px;
  cursor:pointer;
}

/* POPUP para modificacion de estilos de los componentes */
#pop{
  z-index:2;
  position:absolute;
  border: 1px solid #333333;
  text-align:center;
  background:#F6F6F6;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
#cerrar{
  float:right;
  margin-right:5px;
  cursor:pointer;
  font:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#666666;
  width:12px;
  position:relative;
  margin-top:-1px;
  text-align:center;
}

.DesignPopupSaveButton{
  cursor: pointer;
}
